body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background: #17191C;
    color: #fff;
    font-size: 14px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    width: 1142px;
}

.header {
    margin-bottom: 50px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--right {
    justify-content: flex-end;
}

.logo {
    margin-right: 240px;
}

.menu {
    margin-top: 10px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__link {
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    margin-top: 10px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}

.contacts__workhours {
    text-align: right;
    text-decoration: underline;
    font-size: 13px;
    margin-top: -10px;
    margin-right: 2px;
    color: #FF3D00;
}

.hero__container {
    display: flex;
    flex-direction: column;
    min-height: 543px;
    margin-top: 110px;
    margin-bottom: 20px;
    align-items: center;
}

.hero__title {
    text-align: center;
    font-weight: 800;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 1.35;
    margin-bottom: 15px;
    width: 70%;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 58px;
}

.button__hero {
    margin-top: -17px;
}

.button {
    background: #FF3D00;
    border-radius: 35px;
    color: #fff;
    padding: 18px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.offers {
    height: 500px;
    margin: auto;
    margin-bottom: 157px;
}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.offer {
    width: calc(100%/3 - 18px);
}

.offers__item {
    position: relative;
    min-height: 476px;
    border-radius: 5px;
    background: #fff;
    vertical-align: top;
    padding: 22px;
    display: flex;
    flex-direction: column;
}

.offers__logo {
    position: absolute;
    top: 36px;
    margin-left: 5px;
    min-height: 76px;
}

.offers__title {
    position: absolute;
    font-weight: bold;
    color: #000000;
    font-size: 32px;
    top: 148px;
}

.offers__features {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 207px;
}

.offers__feature {
    color: #666;
    font-size: 16px;
    width: 123px;
    display: inline-block;
    margin-right: 55px;
    vertical-align: top;
}

.offers__feature:last-child {
    margin-right: 0;
}

.offers__number {
    font-weight: 700;
    color: #000000;
}

.offers__description {
    position: absolute;
    width: 305px;
    top: 260px;
    color: #666;
}

.offers__more {
    position: absolute;
    bottom: 68px;
}

.offers__button {
    border-width: 2px;
    border-style: solid;
    border-radius: 35px;
    color: #FF5500;
    padding: 16px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.offers__button--active {
    border-style: none;
    border-radius: 35px;
    background: #FF5500;
    color: #fff;
    padding: 18px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.news {
    height: 450px;
    margin-bottom: 190px;
}

.news__container {
    position: relative;
}

.title {
    font-size: 36px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

.title--light {
    color: #fff;
}

.news__items {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.news__item {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    flex: 1;
}

.news__item:last-child {
    margin-right: 0;
}

.news__date {
    position: absolute;
    top: 252px;
    left: 30px;
}

.news__subtitle {
    position: absolute;
    top: 285px;
    left: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

.news__description {
    position: absolute;
    top: 324px;
    left: 30px;
    width: 80%;
    font-size: 16px;
}

.paginator {
    position: absolute;
    top: 548px;
    left: 380px;
}

.paginator__box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginator__display {
    font-size: 16px;
    margin-right: 25px;
}

.paginator__list {
    display: flex;
    align-items: center;
    left: 150px;
    top: -4px;
}

.paginator__item {
    vertical-align: middle;
    width: 31px;
    height: 31px;
    margin-right: 1px;
}

.paginator__button {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 32px;
    z-index: 10;
}

.paginator__button:hover::before {
    content: '';
    position: absolute;
    background: #FF5500;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: -10;
    right: -1px;
}

.about {
    height: 500px;
    margin-bottom: 110px;
}

.about__container {
    position: relative;
}

.about__img {
    position: absolute;
}

.about__content {
    padding: 80px;
    position: absolute;
    left: 355px;
    top: 99px;
    background: #fff;
    border-radius: 5px;
    min-width: 785px;
    height: 455px;
    margin-bottom: 50px;
}

.about__lead {
    position: relative;
}

.about__title {
    position: absolute;
    top: -10px;
    margin-bottom: 37px;
}

.title--dark {
    color: #000;
}

.about__text {
    position: absolute;
    top: 63px;
    font-size: 16px;
    color: #060606;
    width: 502px;
    margin-bottom: 43px;
    line-height: 1.7;
}

.button__about {
    position: relative;
    top: 270px;
    padding: 18px 40px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px 0 0 0;
    padding-top: 35px;
    min-height: 150px;
}

.footer__col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__description {
    font-size: 11px;
    color: #9a9a9a;
    text-align: right;
}

.menu__footer {
    margin-left: -110px;
}

.socials__list {
    margin-right: 70px;
    margin-top: 10px;

}

.socials__item {
    display: inline-block;
    margin-right: 5px;
}

.social__logo {
    opacity: 0.5;
}

.social__logo:hover {
    opacity: 1;
}

/* Не забыть про верный путь к файлам!! */
.wrapper__background {
    background: url("/video-production/img/hero.png") center top -20px no-repeat, url("/video-production/img/bottom-pic.png") center bottom 225px no-repeat;
    z-index: 100;
}

/* SERVICES */

.wrapper__services-background {
    background: url("/video-production/img/top-line.png") center top -20px no-repeat;
    height: 100%;
    width: 100%;
}

.page-top__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding-bottom: 30px;
}

.page-title {
    font-weight: 800;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 23px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    color: #9A9A9A;
}

.breadcrumbs__link--active {
    font-weight: 700;
    color: #9A9A9A;
}

.breadcrumbs__item::after {
    content: '/';
    color: #9a9a9a;
    margin-right: 3px;
}

.breadcrumbs__item:last-child::after {
    content: none;
}

.maincontent__services {
    background: #fff;
}
.services {
    display: block;
    margin-bottom: 13px;
}
.services__list {
    display: flex;
    flex-direction: column;
    min-height: 810px;
    padding-top: 90px;
    padding-bottom: 0px;
}

.services__item {
    display: flex;
    padding-bottom: 50px;
}

.services__img {
    min-width: 460px;
    margin-right: 60px;
}

.services__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 30px;
}

.services__title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-bottom: -22px;
}

.services__text {
    font-size: 16px;
    color: #303030;
    line-height: 1.7;
}

.service__button {
    border-width: 2px;
    border-style: solid;
    border-radius: 35px;
    color: #FF5500;
    padding: 16px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.service__button--active {
    border-style: none;
    border-radius: 35px;
    background: #FF5500;
    color: #fff;
    padding: 18px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.services__paginator {
    display: block;
    margin-bottom: 86px;
    margin-left: 25px;
}

.paginator__button__services {
    color: #000;
}

.paginator__display__services {
    color: #000;
}

.paginator__button__services:hover{
    color: #fff;
}

.partners {
    background: #F4F5F5;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 34px;

}

.partners__title {
    font-size: 48px;
    font-weight: 700;
    color: #1A1B1E;
    line-height: 1;
    margin-bottom: 73px;
    padding-top: 100px;
}

.partner__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners__item {
    margin-left: 79px;
    height: 125px;
}

.partners__item:nth-child(4n+1) {
    margin-left: 0;
}

.partners__item:nth-child(1) {
    margin-top: 17px;
}

.partners__item:nth-child(2) {
    margin-left: 191px;
    margin-top: 29px;
}

.partners__item:nth-child(3) {
    margin-left: 209px;
    margin-top: 10px;
}

.partners__item:nth-child(4) {
    margin-left: 216px;
    margin-top: 15px;
}

.partners__item:nth-child(6) {
    margin-left: 85px;
}

.partners__item:nth-child(7) {
    margin-left: 145px;
    margin-top: 5px;
}

.partners__item:nth-child(8) {
    margin-left: 133px;
    margin-top: -6px;
}

.partner__link {
    filter: grayscale(100%);
}

.partner__link:hover {
    filter: grayscale(0%);
}

.inner__footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    min-height: 120px;
}