body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background: #17191C;
    color: #fff;
    font-size: 14px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}



.wrapper {
    margin: 0 auto;
    width: 1142px;
}

.header {
    height: 120px;
    margin-bottom: 115px;
}

.header__container {
    position: relative;
}

.logo {
    display: block;
    position: absolute;
    top: 25px;
    left: 0px;
}

.menu {
    position: absolute;
    top: 46px;
    left: 438px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__link {
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    position: absolute;
    top: 32px;
    right: 0px;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}

.contacts__workhours {
    text-decoration: underline;
    font-size: 13px;
    margin-top: -10px;
    margin-right: 2px;
}

.contacts__workhours:hover {
    color: #FF3D00;
}

.hero {
    margin: auto;
    width: 780px;
    text-align: center;
    margin-bottom: 233px;
}

.hero__title {
    font-weight: 800;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 1.35;
    margin-bottom: 15px;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 58px;
}

.button {
    background: #FF3D00;
    border-radius: 35px;
    color: #fff;
    padding: 18px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.offers {
    height: 500px;
    margin: auto;
    margin-bottom: 157px;
}

.offers__item {
    position: relative;
    min-height: 476px;
    display: inline-block;
    margin-right: 24px;
    width: 362px;
    border-radius: 5px;
    background: #fff;
    vertical-align: top;
    padding: 22px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__logo {
    position: absolute;
    top: 36px;
    margin-left: 5px;
    min-height: 76px;
}

.offers__title {
    position: absolute;
    font-weight: bold;
    color: #000000;
    font-size: 32px;
    top: 148px;
}

.offers__features {
    position: absolute;
    top: 207px;
}

.offers__feature {
    color: #666;
    font-size: 16px;
    width: 123px;
    display: inline-block;
    margin-right: 55px;
    vertical-align: top;
}

.offers__feature:last-child {
    margin-right: 0;
}

.offers__number {
    font-weight: 700;
    color: #000000;
}

.offers__description {
    position: absolute;
    width: 305px;
    top: 260px;
    color: #666;
}

.offers__more {
    position: absolute;
    bottom: 68px;
}

.offers__button {
    border-style: solid;
    border-radius: 35px;
    color: #FF5500;
    padding: 16px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.offers__button--active {
    border-style: none;
    border-radius: 35px;
    background: #FF5500;
    color: #fff;
    padding: 18px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.news {
    height: 450px;
    margin-bottom: 190px;
}

.news__container {
    position: relative;
}

.title {
    font-size: 36px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

.title--light {
    color: #fff;
}

.news__items {
    position: absolute;
    margin-top: 50px;
    margin-bottom: 10px;
}

.news__item {
    position: relative;
    display: inline-block;
    width: 557px;
    margin-right: 20px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    width: 557px;
    height: 393px;
}

.news__date {
    position: absolute;
    top: 252px;
    left: 30px;
}

.news__subtitle {
    position: absolute;
    top: 285px;
    left: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

.news__description {
    position: absolute;
    top: 324px;
    left: 30px;
    width: 442px;
    font-size: 16px;
}

.paginator {
    position: absolute;
    top:551px;
}

.paginator__box {
    position:relative;
    min-width: 450px;
    left: 380px;
    text-align: center;
}

.paginator__display {
    position: absolute;
    font-size: 16px;
    margin-right: 25px;
}

.paginator__list {
    position: absolute;
    left: 150px;
    top: -4px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
    width: 31px;
    height: 31px;
    margin-right: 0;
}

.paginator__button {
    display: block;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 32px ;
}

.paginator__button--active {
    background: #FF5500;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.about {
    height: 500px;
    margin-bottom: 110px;
}

.about__container {
    position: relative;    
}

.about__img {
    position: absolute;
}

.about__content {
    padding: 80px;
    position: absolute;
    left: 355px;
    top: 99px;
    background: #fff;
    border-radius: 5px;
    width: 785px;
    height: 455px;
    margin-bottom: 50px;
}

.about__lead {
    position: relative;
}

.about__title {
    position: absolute;
    top: -10px;
    margin-bottom: 37px;
}

.title--dark {
    color: #000;
}

.about__text {
    position: absolute;
    top: 63px;
    font-size: 16px;
    color: #060606;
    width: 502px;
    margin-bottom: 43px;
    line-height: 1.7;
}

.button__about {
    position: relative;
    top: 270px;
    padding: 18px 40px;
}


.footer__container {
    position: relative;
}

.menu__footer {
    position: absolute;
    margin-top: -5px;
    margin-left: -110px;
}

.footer {
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px 0 0 0;
    padding-top: 17px;
    margin-bottom: auto auto auto 0;
    width: 1142px;
    height: 150px;
}

.contacts__description {
    font-size: 11px;
    color: #9a9a9a;
    text-align: right;
}

.socials__list {
    top: 35px;
    position: absolute;
    right: 265px;
}

.socials__item {
    display: inline-block;
    margin-right: 4px;
}

.wrapper__background {
    background: url("/video-production/img/hero.png") center top no-repeat, url("/video-production/img/bottom-pic.png") center bottom 225px no-repeat;
}
