/* Не забыть про верный путь к файлам!! */
.wrapper__background {
    background: url("/video-production/img/hero.png") center top -20px no-repeat, url("/video-production/img/bottom-pic.png") center bottom 225px no-repeat;
    z-index: 100;
}

.wrapper__inner-background {
    background: url("/video-production/img/top-line.png") center top no-repeat;
    height: 100%;
    width: 100%;
}