.button {
    border-width: 2px;
    border-style: solid;
    border-radius: 35px;
    color: #FF5500;
    padding: 16px 52px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}

.button--active {
    border-style: none;
    border-radius: 35px;
    background: #FF5500;
    color: #fff;
    padding: 18px 52px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: .4s;
}

.button--grey {
    border-style: none;
    border-radius: 35px;
    background: #8E8E8E;
    color: #fff;
    padding: 18px 52px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: .4s;
}

.button:hover {
    background: #FF3D00;
    color: #fff;
}

.button--grey:hover {
    background: #2B2B2B;
}

