.button {
    border-width: 2px;
    border-style: solid;
    border-radius: 35px;
    color: #FF5500;
    padding: 16px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.button--active {
    border-style: none;
    border-radius: 35px;
    background: #FF5500;
    color: #fff;
    padding: 18px 53px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.paginator__button__inner {
    color: #000;
}

.paginator__display__inner {
    color: #000;
}

.paginator__button__inner:hover{
    color: #fff;
}
