.footer__container {
    display: flex;
    justify-content: space-between;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px 0 0 0;
    min-height: 150px;
}

.footer__col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.contacts__description {
    font-size: 11px;
    color: #9a9a9a;
    text-align: right;
}

.menu__footer {
    margin-left: -110px;
}

.socials__list {
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    margin-top: 10px;

}

.socials__item {
    margin-right: 8px;
}

.socials__img {
    height: 36px;
    width: 36px;
    overflow: hidden;
}

.bg-telegram {
    background: url('/video-production/img/css_sprites1.png') -66px -10px;
}

.bg-vk {
    background: url('/video-production/img/css_sprites1.png') -178px -10px;
}

.bg-facebk {
    background: url('/video-production/img/css_sprites1.png') -290px -10px;
}

.bg-insta {
    background: url('/video-production/img/css_sprites1.png') -402px -10px;
}

.bg-telegram:hover {
    background: url('/video-production/img/css_sprites1.png') -10px -10px;
}

.bg-vk:hover {
    background: url('/video-production/img/css_sprites1.png') -122px -10px;
}

.bg-facebk:hover {
    background: url('/video-production/img/css_sprites1.png') -234px -10px;
}

.bg-insta:hover {
    background: url('/video-production/img/css_sprites1.png') -346px -10px;
}

.inner__footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    min-height: 130px;
}