.news {
    height: 450px;
    margin-bottom: 190px;
}

.news__container {
    position: relative;
}

.title {
    font-size: 36px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

.title--light {
    color: #fff;
}

.news__items {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.news__item {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    flex: 1;
}

.news__item:last-child {
    margin-right: 0;
}

.news__date {
    position: absolute;
    top: 252px;
    left: 30px;
}

.news__subtitle {
    position: absolute;
    top: 285px;
    left: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

.news__description {
    position: absolute;
    top: 324px;
    left: 30px;
    width: 80%;
    font-size: 16px;
}