.partners {
    background: #F4F5F5;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 34px;

}

.partners__title {
    font-size: 48px;
    font-weight: 700;
    color: #1A1B1E;
    line-height: 1;
    margin-bottom: 73px;
    padding-top: 100px;
}

.partner__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners__item {
    margin-left: 79px;
    height: 125px;
}

.partners__item:nth-child(4n+1) {
    margin-left: 0;
}

.partners__item:nth-child(1) {
    margin-top: 17px;
}

.partners__item:nth-child(2) {
    margin-left: 191px;
    margin-top: 29px;
}

.partners__item:nth-child(3) {
    margin-left: 209px;
    margin-top: 10px;
}

.partners__item:nth-child(4) {
    margin-left: 216px;
    margin-top: 15px;
}

.partners__item:nth-child(6) {
    margin-left: 85px;
}

.partners__item:nth-child(7) {
    margin-left: 145px;
    margin-top: 5px;
}

.partners__item:nth-child(8) {
    margin-left: 133px;
    margin-top: -6px;
}

.partner__link {
    filter: grayscale(100%);
}

.partner__link:hover {
    filter: grayscale(0%);
}