.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(/video-production/img/welcome-bg.png) center bottom / cover no-repeat;
}

.central {
    height: 643px;
    width: 1128px;
    background: url(/video-production/img/rec.png) center bottom no-repeat;   
    background-origin: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: rotateIn 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.76s;  
}

.central__logo {
    width: 538px;
    height: 147px;
    margin-top: 45px;
    margin-bottom: 38px;
}

.welcome__button {
    padding: 20px 58px;
}

@keyframes rotateIn {
    from {
        transform: translateY(50%) scale(0.2) rotate(30deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0) scale(1) rotate(-15deg);
    }
    72% {
        transform: translateY(0) scale(1) rotate(5deg);
    }
    to {
    opacity: 1;
    transform: scale(1);    
    }
}