.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(/video-production/img/welcome-bg.png) center bottom / cover no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.central__logo {
    width: 538px;
    height: 147px;
    margin-top: 45px;
    margin-bottom: 38px;
}

.welcome__button {
    padding: 20px 58px;
}

.central--video {
    opacity: 1;
    animation: rotateIn 1s;
    animation-fill-mode: forwards;
}

@keyframes rotateIn {
    from {
        transform: scale(0.1) rotate(30deg);
    }
    to {
    opacity: 1;
    transform: scale(1);    
    }
}